@'
# Python Cache amd Compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# Packaging/build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE/OS files
.vscode/
.DS_Store
Thumbs.db

#logs
*.log

# Ignore large raw data files in data folder
data/*.csv
data/*.txt
'@ | Set-Content .gitignore